---
layout: default
---

  <!-- Hero Tagline -->
 <!-- Featured post -->


 <!-- Featured projects -->
 <div id="featuredArticle">
   <!-- Articles card -->
   {% assign count = 0 %}
     {% for post in site.posts %}
       {% if post.featured and count < 1%}
          {% include featured.html %}
       {% assign count = count | plus: 1%}
       {% endif %}
     {% endfor %}

   </ul>
 </div>

 <!-- Latest Articles -->
 <div id="latestArticles">
   <h3>Latest articles</h3>
   <!-- Articles card -->
     {% for post in site.posts | limit : 2 %}
        {% include post.html %}
     {% endfor %}
   </ul>
 </div>
