<div id="navigation">
  <section class="layout">
    <div class="symbol"><a href="{{site.baseurl}}"><img src="{{ "/assets/misc/side-profile.png" | prepend: site.baseurl }}" alt="Tasfaout Yassine"></a></div>
    <label for="menu">Menus :</label>
    <ul class="nav">
      <li><a href="about.html"><i class="icon ion-ios-people-outline"></i>Let's Meet</a></li>
      <li><a href="skills.html"><i class="icon ion-ios-flask-outline"></i>My Super Powers</a></li>
      <li><a href="abouts.html"><i class="icon ion-ios-bookmarks-outline"></i>[ Articles ]</a></li>
      <li><a href="contact.html"><i class="icon ion-ios-chatbubble-outline"></i>Say Hello</a></li>

    </ul><!-- Links -->

    <div class="social">
      <ul class="icons">
        <li><a href=""><i class="icon ion-social-linkedin-outline"></i></a></li>
        <li><a href=""><i class="icon ion-social-github"></i></a></li>
        <li><a href=""><i class="icon ion-social-twitter"></i></a></li>
        <li><a href=""><i class="icon ion-social-instagram-outline"></i></a></li>
      </ul><!-- Icon list -->
    </div><!-- Social icons -->

  </section><!-- Layout -->
</div><!-- Navigation -->
