<div id="articleCard" class="card">
  <div class="articleImg">
    <img src="{{post.image}}" alt="Post" />
  </div>
  <h4 class="title">{{post.title}}</h4>
  <p class="shortDesc" >
    {{post.content | strip_html | strip_newlines | truncate: 200}}
  </p>
  <div class="postDetails">
    <span class="author">
      <i class="icon ion-code"></i>{{post.author}}</span>
    <span class="date">
      <i class="icon ion-ios-calendar-outline"></i>
      {{9th Decmeber 2015}}
    </span>
    <span class="tag">#{{post.categories}}</span>
  </div><!-- Post Details -->
  <a class="readmore" href="#">Read more <i class="icon ion-ios-plus-empty"></i></a><!-- Read me -->
</div>
