//Susy Setup
  $total-columns : 12;
  $column-width  : 4em;
  $gutter-width  : 1em;
  $grid-padding  : $gutter-width;

@include border-box-sizing;

//Breakpoints
  $small   : 30em; //Small Devices
  $medium  : 65em; //Meduim Devices
  $large   : 75em; //Large Devices
//Content
.layout{
  @include container;
  max-width:100%;
}

//Header
header{
  img{
    display: block;
    width : 50%;
    max-width: 200px;
    margin: 1em auto;
  }
  //branding
  @include at-breakpoint($medium){
    @include span-columns(10 omega,12);
      .branding{
          display: block;
          margin: 0 auto;
      }
  }
}
//footer
footer{
    .footer{
      padding: 10px;
      p{
        font-size: 1.1rem;
        font-weight: bold;
        span{
          font-weight: normal;
          i{
            color: $red;
          }
        }
      }
    }
  @include at-breakpoint($medium){
    @include span-columns(10 omega,12);
      .footer{
          clear: both;
          float: right;
      }
  }
}
//navigation
#navigation{
  //display: none;
  background: $lightdark; //Bg Color
  padding-top: 15px; // Space at the top

  //For Medium Screens
  @include at-breakpoint($medium){
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width : 260px;
    @include box-shadow(rgba(0, 0, 0, 0.2) 2px 0px 2px);//box-shadow
  }
  //Symbol
  .symbol{
    img{
      display: none;
    }//Dont display when the screen is mobile
    @include at-breakpoint($medium){
    img{
      display: block;
      margin: 0 auto;
      margin-bottom: .6em;
      width: 6em;
    }// Display the symbol for medium screens
    a img{
      @include single-transition(all,.3s,ease-out);
      &:hover{
        width: 7em;
      }
    }// Hover animation

  }//Medium

  }
  //Navigation Menu
  ul.nav{
    padding-bottom: 20px;
    li{
      //When screen is at medium size add a margin bottom to the links
      @include at-breakpoint($medium){
        margin-bottom: 40px;

      }

      i{
        padding-right: .4em;
        font-size: 1.8rem;
        vertical-align: middle;
      }
      a{
        @include single-transition(all,.5s,ease-out);
        font-size: 1.2rem;
        font-weight: 300;
        color: $lightgrey;
        &:hover{
          margin-left: .5rem;
          color: $lightgreen ;
        }
      }// give hover effect to menu items
      .active{
        color: $lightgreen ;
        margin-left: .5rem;
      }
    }
  }// ul nav
  //Navigation Social
  .social{
    @include at-breakpoint($medium){

    }//Push social icons to the bottom when screen is at medium size
    ul.icons{
      text-align: center; //Align to the center when mobile view
      li{
        display: inline;
        padding-left: 10px;
        a{
          @include single-transition(all,.5s,ease-out);
          color: $lightgrey;
          &:hover{
            color: $lightgreen;
          }
        }
      }//list items
    }
  }


}


          /* _____________ Page Content Layout _______________ */

//Page Content
#pageContent{

  //on small size
  .tagline{
    margin-top: 1em;
      h1{
        font-size: 1.6em;
        @include single-transition(all,.3s,ease-out);
      }
  }// Give small space on the top
  //Explore Button
  .explore{
    display: block;
    margin: 10px auto;
    font-size: 1.2em;
  }
  .profile{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
  }//Profile image centred

  //Post Page on small device
  .post{
    .title{
      font-family: $primaryfont;
      font-weight: bold;
      @include single-transition(all,.3s,ease-out);
      font-size: 1.2rem;
    }
    .postContent{
      padding: 20px;
      .featured{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 70%;
      }
      p{
        text-indent: 1em;
      }
    }
    .postDetails{

      span{
        display: block;
        font-size: 1rem;
        text-align: center;
        i{
          color:$purple;
        }
      }
      .tag{
        color: $purple;
      }
    }//Post details
  }//Post title in small size

  //Contact page in small size
  #contact{
    //Title
    h3{
      font-family: $primaryfont;
      font-size: 1.2em;
      border-bottom: 1px solid $linegrey;
      margin: 0;
      padding-bottom: 10px;
      @include single-transition(all,.3s,ease-out);
    }
   //Label
   label{
     font-size: 1.2rem;
     color: $purple;
   }
   //Contact description and information padding
   .contactDesc, .contactInfo{
     padding: 10px;
   }
   //Contact card in small size
   .contactInfo{
     .contactCard{
      li i{
        font-size: 1.6rem;
        color: $purple;
      }
       li a{
         font-size: 1rem;
       }
     }
   }
  }



  //when screen is on medium
  @include at-breakpoint($medium){
    //@include span-columns(9.07,12);

    @include container;
    @include push(2.9);
    //@include susy-grid-background;
    //give a push to the col to fill the empty space left by the fixed sidebar
    //Home Page
    .tagline{
      width:100%;
      h1{
        font-size: 2.5em;
      }
    }
    .explore{
      margin: 20px;
      position: absolute;
      font-size: 2em;
      bottom: 0;
      right: 0;

    }
    //About page
    .profile{
      margin-top: -4em;
    }
    //Car
    .card{
      //width: columns(12,12);
      //margin-bottom: 2em;
    }
    //Skills
    #skills{

      .col-1{
        float: left;
      }
      .php{
        width: 300px;
        height: 80%;
        min-height : 250px;

      }//php
      .html{
        clear: both;
        width: 280px;
        height: 80%;
        min-height : 260px;
        margin-left: 1.47em;

      }//Html
      .ps{
        width: 290px;
        height: 80%;
        min-height : 370px;

      }//photoshop
      .js{
        width: 245px;
        height : 200px;

      }//Javascript

      .css{
        width: 500px;
        height : 130px;

      }//Css
      .android{
        width: 220px;
        height : 140px;

      }
    }
/* --------------- Articles Page ---------------- */
    //Articles
    #articles{
      @include span-columns(8,12);
    }
    //Articles side bar
    #sideArticles{
      @include span-columns(4 omega,12);
    }
/* --------------- Articles Page ---------------- */

/* --------------- Post Page ---------------- */
    #post{
      @include span-columns(12,12);
      .post{
        .title{
          font-size: 2rem;
        }//Post Title
        .postContent{
          .featured{
          }//Featured Image
        }//Post Content
        .postDetails{
          @include postDetails;
          span{
            display: inline;
          }
        }//Post details
      }
    }
/* --------------- Post Page ---------------- */

/* --------------- Contact Page ---------------- */
    #contact{
      @include span-columns(12,12);
      h3{
        font-size: 1.4em;
        text-align: center;
      }
      .contactDesc{
        @include span-columns(8,12);
      }
      .contactInfo{
        @include span-columns(4 omega,12);
        .contactCard{
          @include description;
          li i{

          }
          li a{

          }
        }
      }
    }
/* --------------- Contact Page ---------------- */
  }//Medium breakpoint

}
/* --------------- Latest Articles ------------- */
    #latestArticles{
      h3{
        font-size: 1.8rem;
      }
      #articleCard{

        margin-bottom: 10px;
        .title{
          font-size: 1.7rem;
          font-weight: bold;
          text-align: center;
        }//title
        .shortDesc{
          padding: 5px;
        }
        .postDetails{
          text-align: center;
          font-size: 1rem;
          margin: 10px auto;
          span{
            display: block;
          }
        }
        .articleImg{
          img{
            width: 100%;
            @include border-radius(5px);
            @include opacity(0.8);
            @include single-transition(all,.3s,ease-out);
            &:hover{
              @include opacity(1);
            }
          }
        }
        @include at-breakpoint($medium){
            //Article width
            width: 48%;
            //float to the left
            float:left;
            //@include span-columns(6,12);
            //&:nth-child(n) { @include omega;}
            margin-right:10px;
          .postDetails{
            @include postDetails;
            text-align: inherit;
            span{
              display: inline;
            }
          }
        }
      }
    }
