/******* Color Palette ********/

  $lightgrey   : #f5f5f5; //Background color
  $linegrey    : #dbdcdb; //Line Seperator
  $lightdark   : #3d3e42; // Navigation color
  $accentdark  : #93959f; // Accent dark color
  $lightgreen  : #58c4c1; //Accent color
  $purple      : #665785; //Purple
  $lightblue   : #00a1c9; //Blue
  $orange      : #f06539; //Orange
  $red         : #e52e32; //Red
  $green       : #29ac31; //Green
  $blue        : #296abb; //Blue

/***** Fonts Variable *****/

  $primaryfont   : 'Roboto', sans-serif; //Primary Font
  $secondaryfont : 'Open Sans', sans-serif; //Secondary Font
