---
layout: default
---
<div id="contact" class="card">
  <h3>Contact or Hire me !</h3>
  <div class="contactDesc">
    {{ content }}
  </div>
  <div class="contactInfo">
    <label>Contact Informations:</label>
    <ul class="contactCard">
      <li>
        <i class="icon ion-ios-email-outline"></i>
        <a href="mailto:tasfaoutyassine@gmail.com"> tasfaoutyassine@gmail.com</a>
      </li>
      <li>
        <i class="icon ion-social-linkedin-outline"></i>
        <a href="https://dz.linkedin.com/in/tasfaout"> Tasfaout</a></li>
      <li><i class="icon ion-social-github"></i><a href="https://github.com/andelus"> Andelus</a></li>
      <li><i class="icon ion-social-twitter"></i><a href="https://github.com/andelus">@tasfaoutyassine</a></li>
    </ul>
  </div>
</div><!-- Articles -->
