---
layout: default
---
<div id="contact" class="card">
  <h3>Contact or Hire me !</h3>
  <div class="contactDesc">
    <label>Hire Me:</label>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <label>Ask Me:</label>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="contactInfo">
    <label>Contact Informations:</label>
    <ul class="contactCard">
      <li>
        <i class="icon ion-ios-email-outline"></i>
        <a href="mailto:tasfaoutyassine@gmail.com"> tasfaoutyassine@gmail.com</a>
      </li>
      <li>
        <i class="icon ion-social-linkedin-outline"></i>
        <a href="https://dz.linkedin.com/in/tasfaout"> Tasfaout</a></li>
      <li><i class="icon ion-social-github"></i><a href="https://github.com/andelus"> Andelus</a></li>
      <li><i class="icon ion-social-twitter"></i><a href="https://github.com/andelus">@tasfaoutyassine</a></li>
    </ul>
  </div>
</div><!-- Articles -->
