<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Header -->
    {% include header.html %}

    <!-- Navigation -->
    {% include navigation.html %}

    <!-- Content -->
    <div id="pageContent">
      <section class="layout">
        <div class="stage">
          {{ content }}
        </div><!-- Stage -->

      </section><!-- Layout -->
    </div><!-- Page Content -->

    {% include footer.html %}

    <!-- Scripts -->
    <!-- Jquery -->
    <script type="text/javascript" src="{{site.baseurl}}/lib/jquery.min.js">
    </script>
    <!-- Layout fix -->
    <script type="text/javascript" src="{{site.baseurl}}/js/behavior.min.js">
    </script>
    <!-- Disqus -->
    <script id="dsq-count-scr" src="//tasfaoutyassine.disqus.com/count.js" async></script>
  </body>

</html>
