---
layout: default
---

<!-- Articles Card -->
<a href="/articles"><i class="icon ion-ios-arrow-left"></i> Back</a>
<div id="post" class="card">
  <!-- Posts -->
  <div class="post">
    <h4 class="title">
      <i class="icon ion-social-angular"></i> {{ page.title }}</h4>
    <div class="postContent">
      <img src="{{page.image}}" alt="" class="featured">
        <p>{{ content }}</p>
    </div>
    <!-- Post Details -->
    <div class="postDetails">
      <span class="author">
        <i class="icon ion-code"></i>{% if page.author %} {{ page.author }} {% endif %}</span>
      <span class="date">
        <i class="icon ion-ios-calendar-outline"></i>
        {{ page.date | date: "%b %-d, %Y" }}
      </span>
      <span class="tag">#AngularJs</span>
    </div><!-- Post Details -->
  </div>
  <!-- Posts -->
