---
layout: default

---

<!-- Articles Card -->
<a href="/articles"><i class="icon ion-ios-arrow-left"></i> Back</a>
<div id="post" class="card">
  <!-- Posts -->
  <div class="post">
    <h4 class="title">
      {% for tag in page.tags%}
        <i class="icon ion-social-{{tag}}"></i>
      {% endfor %}

       {{ page.title }}</h4>
    <div class="postContent">

      <img src="{{page.image}}" alt="{{ page.title }}" class="featured">
      {% if page.imageSource %}
        <a href="{{page.imageSource}}" class="source">Source</a>
      {% endif %}
        <p>{{ content }}</p>

    </div>
    <!-- Post Details -->
    <div class="postDetails">
      <span class="author">
        <i class="icon ion-code"></i>{% if page.author %} {{ page.author }} {% endif %}</span>
      <span class="date">
        <i class="icon ion-ios-calendar-outline"></i>
        {{ page.date | date: "%b %-d, %Y" }}
      </span>
      {% for tag in page.tags%}
        <span class="tag">#{{tag}}</span>
      {% endfor %}

    </div><!-- Post Details -->
    {% if page.comments %}
      {% include disqus.html %}
    {% endif %}
  </div>
  <!-- Posts -->
