---
layout: default
---
<div class="tagline">
  <h1>WITH GREAT <b>POWERS</b></h1>
  <h1>COMES GREAT</h1>
  <h1>RESPONSABILITIES</h1>
</div><!-- Tagline -->
<!-- Skills Metro -->
<div id="skills">
  <div class="col-1">
    <div class="skill-card php">
      <img src="{{site.baseurl}}/assets/misc/php.png" alt="PHP">
      <!-- Skill Content -->
      <div id="skillContent">
        <h4>Frameworks:</h4>
        <div class="description">
          <img src="assets/skills/laravel.png" alt="Laravel">
          <a href="https://laravel.com/">Laravel</a>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div id="works">
          <h4>Projects:</h4>
          <div class="brief">
            <img src="assets/skills/projects/echooly/logo.png" alt="echooly" class="projectLogo">
            <h3 class="projectName">echooly <span>School Management Web Application</span> </h3>
            <p class="projectDesc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              <a href="#">Read more</a>
            </p>

          </div>
        </div>
      </div>
    </div>
    <div class="skill-card html"><img src="{{site.baseurl}}/assets/misc/html.png" alt="HTML"></div>
  </div>
  <div class="col-2">
    <div class="skill-card ps"><img src="{{site.baseurl}}/assets/misc/ps.png" alt="Photoshop"></div>
    <div class="skill-card js">
      <img src="{{site.baseurl}}/assets/misc/js.png" alt="Javascript">

    </div>
    <div class="skill-card android"><img src="{{site.baseurl}}/assets/misc/android.png" alt="Android"></div>
    <div class="skill-card css"><img src="{{site.baseurl}}/assets/misc/css.png" alt="CSS"></div>
  </div>
</div>
</div>
